* {
	font-family: arial,helvetica;
}

body{
	margin: 0 auto;
	max-width: 90em;
	max-height: 60em;
}
header, footer {
	text-align: center;
}
header {
	background: #ff8080;
	order: 1;
}
footer {
	background: #efc0ef;
	order: 9;
}
nav{
	flex: 1 2 0%;
	background: #a0f0f0;
	min-width: 150px;
	align-self: flex-start;
	order: 2;
}
section{
	flex: 4 4 0%;
	background: #eeeeee;
	min-width: 300px;
	order: 3;
}
aside{
	flex: 1 1 0%;
	background: #ffff80;
	min-width: 200px;
	order: 4;
	align-self:center;
}
a {
	color: red;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
wrapper {
	display: flex;
	/*flex-direction: row;*/
	flex-flow: row wrap;
}
li {
	list-style: inside none none;
	text-indent: 0;
}
ul {
	padding: 0;
}
footer ul {
	display:flex;
	flex-flow: row wrap;
}
footer ul li {
	flex: 1;
}
header,footer,nav,footer a,aside,article,section {
	border: 1px solid;
}
header,footer,nav,aside,article,section {
	border-radius: 1em 0px 1em 0.5em;
	padding: 10px;
	margin: 10px;
}
footer li {
	padding: 5px;
	margin: 5px 0 0;
}
footer li a{
	color: black;
	border-color: red;
	border-radius: 0.3em;
	padding: 0.3em;
	width: 90%;
	display: inline-block;
}
figure {
	border: dashed;
	padding: 0.2em;
	background: white;
	transform: translateX(-1em) translateY(-2em) rotate(5deg);
}
figcaption  {
	text-align: center;
}
figure img {
	border: 1px solid;
}
/**/
.gh-ico {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.2em;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.wolf-face {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgY29sb3ItcmVuZGVyaW5nPSJhdXRvIiAgIGNvbG9yLWludGVycG9sYXRpb249ImF1dG8iICAgdGV4dC1yZW5kZXJpbmc9ImF1dG8iICAgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiAgIHNoYXBlLXJlbmRlcmluZz0iYXV0byIgICBmb250LXdlaWdodD0ibm9ybWFsIiAgIGZvbnQtc3R5bGU9Im5vcm1hbCIgICBmb250LXNpemU9IjEyIiAgIGltYWdlLXJlbmRlcmluZz0iYXV0byIgICBpZD0ic3ZnMzAzNyIgICB2ZXJzaW9uPSIxLjEiICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC40IHI5OTM5IiAgIHdpZHRoPSIyNjIuODI5OTkiICAgaGVpZ2h0PSIyNjIuODI5OTkiICAgc29kaXBvZGk6ZG9jbmFtZT0id29sZl9mYWNlLnN2ZyIgICBzdHlsZT0iZm9udC1zaXplOjEycHg7Zm9udC1zdHlsZTpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MTtzdHJva2UtbGluZWNhcDpzcXVhcmU7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1taXRlcmxpbWl0OjEwO3N0cm9rZS1vcGFjaXR5OjE7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1kYXNob2Zmc2V0OjA7Zm9udC1mYW1pbHk6RGlhbG9nIj4gIDxtZXRhZGF0YSAgICAgaWQ9Im1ldGFkYXRhMzA0OCI+ICAgIDxyZGY6UkRGPiAgICAgIDxjYzpXb3JrICAgICAgICAgcmRmOmFib3V0PSIiPiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+ICAgICAgICA8ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4gICAgICA8L2NjOldvcms+ICAgIDwvcmRmOlJERj4gIDwvbWV0YWRhdGE+ICA8c29kaXBvZGk6bmFtZWR2aWV3ICAgICBwYWdlY29sb3I9IiNmZmZmZmYiICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIgICAgIGJvcmRlcm9wYWNpdHk9IjEiICAgICBvYmplY3R0b2xlcmFuY2U9IjEwIiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiICAgICBndWlkZXRvbGVyYW5jZT0iMTAiICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMCIgICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjEzNjQiICAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSI3MjAiICAgICBpZD0ibmFtZWR2aWV3MzA0NiIgICAgIHNob3dncmlkPSJmYWxzZSIgICAgIGZpdC1tYXJnaW4tdG9wPSIwIiAgICAgZml0LW1hcmdpbi1sZWZ0PSIwIiAgICAgZml0LW1hcmdpbi1yaWdodD0iMCIgICAgIGZpdC1tYXJnaW4tYm90dG9tPSIwIiAgICAgaW5rc2NhcGU6em9vbT0iMC4yMjQyNTczOSIgICAgIGlua3NjYXBlOmN4PSItMTk0LjY0OTYiICAgICBpbmtzY2FwZTpjeT0iLTE4OS4zODQxOSIgICAgIGlua3NjYXBlOndpbmRvdy14PSIwIiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjAiICAgICBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIxIiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ic3ZnMzAzNyIgLz4gICAgPGRlZnMgICAgIGlkPSJnZW5lcmljRGVmcyIgLz4gIDxnICAgICBpZD0iZzMwNDAiICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMy43MzU2NDgsLTczLjk2Nzg1NykiPiAgICA8ZyAgICAgICBpZD0iZzMwNDIiPiAgICAgIDxwYXRoICAgICAgICAgZD0ibSAyNTguNzUsMTE2LjQzNzUgLTAuNTYyNSwxOC44NDM3IHEgLTAuNzAzMSwzLjA5MzggLTEuOTY4Nyw5IC0yLjgxMjYsMTUuMDQ2OSAtOC40Mzc2LDI2LjU3ODIgLTMuMDkzNyw2LjQ2ODcgLTE0LjA2MjQsMjQuMDQ2OCAxMS42NzE4LDkuOTg0NCAxMS42NzE4LDExLjEwOTQgMCwtMS4xMjUgLTQuMjE4Nyw3Ljg3NSBsIDEyLjIzNDMsMTUuMzI4MiBxIC0xLjY4NzQsMS41NDY4IC02LjMyODEsMy4wOTM3IC01LjQ4NDMsMS44MjgxIC03LjAzMTIsMi44MTI1IGwgOS41NjI1LDE3LjE1NjIgcSAtNi4xODc1LDAuMjgxMyAtMTguNzAzMiwxLjU0NjkgMi4yNSw1Ljc2NTcgMi4yNSw3LjczNDQgMCwwLjk4NDQgLTAuMjgxMiwyLjk1MzEgLTAuMjgxMiwxLjk2ODggLTAuMjgxMiwyLjgxMjUgLTUuNjI1LDEuNDA2MyAtMTEuMzIwNCwyLjg4MjggLTUuNjk1MywxLjQ3NjYgLTEwLjYxNzIsNS44MzYgLTAuODQzNywwLjcwMzEgLTExLjM5MDYsMjEuMDkzNyAtNC43ODEyLDkuMjgxMyAtOS41NjI1LDE4LjQyMTkgLTUuNzY1NiwxMC4yNjU2IC0xMi4yMzQzLDE2LjczNDQgLTAuNzAzMiwwLjcwMzEgLTcuNzM0NCwyLjYwMTUgLTcuMDMxMywxLjg5ODUgLTguNDM3NSwxLjg5ODUgbCAtNTIuMzEyNSwwIHEgLTguNTc4MiwwIC0xMy41LC0yLjgxMjUgLTUuNzY1NiwtMy4yMzQ0IC0xMS42NzE5LC0xMi4yMzQ0IC0xLjI2NTYsLTIuNjcxOSAtNC4wNzgxLC04LjAxNTYgLTYuMzI4MiwtMTIuOTM3NSAtMTIuNTE1NiwtMjUuODc1IC03Ljg3NSwtMTQuOTA2MyAtMjAuMjUsLTE4IC0zLjA5MzgsLTAuODQzOCAtOS4yODEzLC0yLjEwOTQgMCwtMC44NDM4IC0wLjI4MTMsLTMuMDkzOCAtMC4yODEyLC0xLjgyODEgLTAuMjgxMiwtMi45NTMxIDAsLTIuNTMxMiAyLjEwOTQsLTcuODc1IC02LjQ2ODgsLTAuMTQwNiAtMTkuMTI1LC0xLjU0NjkgbCAxMC4xMjUsLTE3LjE1NjIgcSAtNC42NDA2LC0xLjgyODEgLTEzLjkyMTksLTUuMzQzOCBMIDI5LjEwOTQsMjEzLjc1IHEgLTEuOTY4OCwtMi45NTMxIC00LjIxODgsLTguNzE4OCAzLjc5NjksLTMuMzc1IDExLjY3MTksLTkuNTYyNCAtMi41MzEzLC01LjIwMzIgLTYuMDQ2OSwtMTAuNDA2MyAtMTguOTg0NCwtMjcuODQzNyAtMTguOTg0NCwtNjcuMjE4NyAwLC0xMy42NDA3IDMuMzc1LC0yOC4xMjUgMy42NTYzLC0xNS43NSAyOC45Njg4LC0xNS43NSAxMS4yNSwwIDM4LjUzMTIsMjMuNzY1NiA1Ljc2NTcsNi43NSAxNy41NzgyLDIwLjEwOTQgMC4xNDA2LDAgMi42NzE4LC04Ljc4OTEgMi41MzEzLC04Ljc4OTEgNS43NjU3LC04Ljc4OTEgMS42ODc1LDAgNS4yNzM0LDUuMDYyNSAzLjU4NTksNS4wNjI1IDUuNjk1Myw1LjA2MjUgMy42NTYzLDAgNi4zMjgyLC0xMC40MDYyIDIuNjcxOCwtMTAuNDA2MyA1LjYyNSwtMTAuNDA2MyA2LjA0NjgsMCAxMS42NzE4LDcuODc1IDQuMDc4Miw2LjQ2ODggOC4xNTYzLDEyLjkzNzUgMi4yNSwtMC44NDM3IDQuNjQwNiwtNC4wNzgxIDEuOTY4NywtMi42NzE5IDMuNzk2OSwtNS4zNDM3IDEuMjY1NiwtMC43MDMyIDIuMjUsLTAuNzAzMiAyLjY3MTgsMCA1LjA2MjUsNi43NSAxLjI2NTYsNC42NDA2IDIuNTMxMiw5LjI4MTMgbCAyLjUzMTMsMCBxIDQuNjQwNiwtOS44NDM4IDI0LjE4NzUsLTI1LjczNDQgMjAuNTMxMiwtMTYuNTkzNyAzMC4yMzQzLC0xNi41OTM3IDI0Ljg5MDcsMCAyOC45Njg4LDE2LjMxMjQgMy42NTYyLDE0LjkwNjMgMy4zNzUsMjYuMTU2MyB6IG0gLTEwLjU0NjksMTQuNzY1NiBxIDAsLTMuMjM0MyAwLC05LjkxNCAwLC02LjY3OTcgMCwtMTAuMDU0NyAwLC05LjQyMTkgLTQuMzU5MywtMjQuNjA5NCAtMS4yNjU3LC0xLjEyNSAtNy43MzQ0LC0yLjYwMTYgLTYuNDY4OCwtMS40NzY1IC04Ljg1OTQsLTEuNDc2NSAtMy41MTU2LDAgLTE0Ljc2NTYsNy4xNzE5IC05LjcwMzIsNi4xODc0IC0yMC42NzE5LDE3Ljg1OTMgLTkuMjgxMywxMC4xMjUgLTE4LjQyMTksMjAuMzkwNyAtMC41NjI1LDAuNzAzMSAtNy43MzQ0LDQuNzgxMiBsIC00Ljc4MTIsLTI0LjQ2ODggcSAtMy45Mzc1LDYuODkwNyAtOC41NzgxLDYuODkwNyAtMy42NTYzLDAgLTguMDE1NywtNy4xNzE5IC00LjkyMTgsLTguNDM3NSAtNS4yMDMxLC04LjU3ODEgLTEuOTY4NywtMS41NDY5IC03Ljg3NSwtMi45NTMxIGwgMCwxLjEyNSBxIDAuMTQwNyw5Ljg0MzcgLTUuNzY1NiwxNC4yMDMxIC00LjY0MDYsMy4zNzUgLTcuNDUzMSwzLjM3NSAtNC43ODEzLDAgLTguNTc4MiwtNi44OTA3IEwgMTA0LjYyNSwxMzIuNzUgUSAxMDAuODI4MSwxMzAuNzgxMiA5NC4zNTk0LDEyNS40Mzc1IDc0Ljk1MzEsOTkuODQzOCA1Ni4yNSw4OC43MzQ0IDQ1LjcwMzEsODIuNTQ2OSA0My4wMzEyLDgyLjU0NjkgcSAtMS4yNjU2LDAgLTE2Ljg3NSw0LjM1OTMgLTQuNSwxNy4yOTY5IC00LjUsMzQuMTcxOSAwLDIwLjM5MDcgNS4yMDMyLDM1LjU3ODEgMS41NDY4LDUuNDg0NCA1LjYyNSwxNS4wNDY5IDIuMjUsMy42NTYzIDIwLjEwOTQsMjEuMDkzOCAtMi4zOTA3LDAuNzAzMSAtNi43NSwyLjY3MTkgLTMuNzk2OSwzLjM3NSAtMTEuOTUzMiw5LjU2MjQgbCA1LjM0MzgsOC4xNTYzIHEgLTIuOTUzMiwzLjc5NjkgLTguMDE1NiwxMS44MTI1IDYuMDQ2OCwyLjgxMjUgMTIuNzk2OCw3Ljg3NSBsIC05LDExLjM5MDYgcSA2Ljg5MDYsMC41NjI1IDE4LjE0MDYsMi42NzE5IC0xLjk2ODcsMy41MTU2IC0zLjkzNzQsNi45NjA5IC0xLjk2ODgsMy40NDU0IC0xLjk2ODgsOC4wODYgMTQuMjAzMSwzLjUxNTYgMTkuMTI1LDEwLjEyNSAxLjgyODEsMi4zOTA2IDEzLjkyMTksMjIuMzU5NCAyLjk1MzEsNi4zMjgxIDkuMjgxMiwxOC43MDMxIDYuMDQ2OSwxMC40MDYyIDEwLjEyNSwxMi43OTY5IDQuNzgxMywyLjgxMjQgMTAuNTQ2OSwyLjk1MzEgNS4zNDM4LDAuMTQwNiAxMC42ODc1LDAuMjgxMiAtMy43OTY5LC0yLjEwOTMgLTkuOTg0NCwtNy4zMTI1IC00LjM1OTMsLTYuMDQ2OCAtNC4zNTkzLC0xNy43MTg3IDAsLTUuNzY1NyAxLjY4NzQsLTkuMTQwNyAyLjk1MzIsLTUuNzY1NiAyMy4wNjI2LC01Ljc2NTYgMjcuNDIxOCwwIDMwLjY1NjIsNS43NjU2IDEuNjg3NSwzLjA5MzggMS42ODc1LDguODU5NCAwLDIuODEyNSAtMS4yNjU2LDEwLjEyNSAtMS40MDYzLDguMDE1NiAtMTMuMDc4MSwxNS4xODc1IGwgNS40ODQzLDAgcSAxMi43OTY5LDAgMTcuODU5NCwtNC4zNTkzIDAuMjgxMywtMC4xNDA3IDUuOTc2NiwtMTAuMzM2IDUuNjk1MywtMTAuMTk1MyAxOC40OTIxLC0zMC4xNjQgMi4zOTA3LC01LjA2MjYgOC4xNTYzLC0xNC4yMDMyIDMuMjM0NCwtMy43OTY4IDguMTU2MywtNS42MjUgNC43ODEyLC0xLjI2NTYgOS41NjI0LC0yLjUzMTIgbCAwLC0xLjgyODIgcSAwLC00LjY0MDYgLTYuNDY4NywtMTMuMjE4NyBsIDE4LjcwMzEsLTIuNjcxOSAtOS41NjI1LC0xMS44MTI1IHEgNS43NjU3LC0zLjY1NjIgMTMuMzU5NCwtNy40NTMxIC0yLjk1MzEsLTQuOTIxOSAtOC4wMTU2LC0xMS44MTI1IGwgNS4zNDM3LC04LjE1NjMgcSAtMi42NzE4LC0xLjU0NjggLTcuNTkzNywtNS4wNjI0IC0xLjI2NTcsLTEuNjg3NiAtNC4zNTk0LC00LjUgLTIuMjUsLTAuODQzOCAtNi43NSwtMi42NzE5IDcuMzEyNSwtNi4zMjgxIDE5LjU0NjksLTIwLjY3MTkgMTAuOTY4NywtMTcuNzE4OCAxMC45Njg3LC00MC45MjE5IHogTSAxNTMsMzA3LjEyNSBxIDAsLTIuODEyNSAtMi45NTMxLC0zLjIzNDQgLTEuNjg3NSwtMC4yODEyIC0yMC4xMDk0LC0wLjI4MTIgbCAtNC45MjE5LDAgcSAtNy43MzQ0LDAgLTcuNzM0NCwyLjM5MDYgbCAwLDEuODI4MSBxIDIuNTMxMywyLjUzMTMgNC43MTEsMi43NDIyIDIuMTc5NywwLjIxMDkgMTcuMjI2NiwwLjIxMDkgMTMuNzgxMiwwIDEzLjc4MTIsLTMuNjU2MiB6IG0gODkuMTU2MiwtMTg1LjM0MzggcSAwLDIwLjM5MDcgLTkuMjgxMiw0MC43ODEzIC01LjYyNSw3LjMxMjUgLTE0LjkwNjIsMTkuNDA2MyAtMi4zOTA3LC00LjIxODggLTguNzE4OCwtMTEuNjcxOSAtMi42NzE5LC0wLjU2MjUgLTcuNDUzMSwtMy4zNzUgLTAuMjgxMywtMC4yODEzIC0xLjY4NzUsLTYuNzUgbCAyMS4yMzQ0LC03Ljg3NSBxIC0zLjc5NjksLTEuNDA2MyAtMjcuMTQwNywtMS40MDYzIDUuMzQzOCwtMy45Mzc1IDE2LjczNDQsLTEwLjQwNjIgNy4wMzEzLC0xLjk2ODggMjEuMDkzNywtNS45MDYzIC00LjkyMTgsLTIuOTUzMSAtOC4yOTY4LC0yLjk1MzEgbCAtMTguNDIxOSwwIHEgNy44NzUsLTMuMzc1IDIwLjk1MzEsLTExLjY3MTkgMi42NzE5LC0yLjUzMTIgNS4zNDM4LC03LjQ1MzEgMy45Mzc1LC03LjE3MTkgNC41LC04LjAxNTYgNi4wNDY4LDE1LjE4NzUgNi4wNDY4LDE3LjI5NjggeiBtIC00MS4wNjI0LDU4Ljc4MTMgcSAtMy4wOTM4LDIuMjUgLTkuODQzOCwzLjM3NSAtOC4yOTY5LDEuNTQ2OSAtMTAuNTQ2OSwyLjM5MDYgLTEuNTQ2OSwwLjU2MjUgLTkuNDkyMiw1LjI3MzUgLTcuOTQ1Myw0LjcxMDkgLTguMzY3MSw0LjcxMDkgbCAtMy4yMzQ0LDAgcSAtMC43MDMyLC0wLjU2MjUgLTAuNzAzMiwtMS44MjgxIDAsLTIuODEyNSA4LjE1NjMsLTguMTU2MyA3LjMxMjUsLTQuNzgxMiAxMS4yNSwtNS43NjU2IDE2LjczNDQsLTQuNSAxOS4yNjU2LC00LjUgMi4yNSwwIDIuNjcxOSwxLjQ3NjYgMC40MjE5LDEuNDc2NSAwLjg0MzgsMy4wMjM0IHogbSAtOS4xNDA3LDM1LjU3ODEgcSAwLDE3LjAxNTYgLTE0LjM0MzcsMTcuMDE1NiAtMTUuNDY4OCwwIC0xNS40Njg4LC0xNS4xODc0IDAsLTIxLjY1NjMgMTQuNjI1LC0yMS42NTYzIDE1LjE4NzUsMCAxNS4xODc1LDE5LjgyODEgeiBtIC0xMTUuODc1LC02NS4yNSAtMjEuNTE1NiwwIHEgLTAuMTQwNiwwIC01LjYyNSwxLjQwNjMgOSwzLjc5NjkgMjAuMTA5NCw3LjE3MTkgMC43MDMxLDAuNDIxOCAwLjcwMzEsMS42ODc0IDAsMy45Mzc2IC0xLjk2ODgsNi4xODc2IC0yLjUzMTIsMC44NDM3IC02Ljc1LDIuOTUzMSAtMC44NDM3LDAuNzAzMSAtOC43MTg3LDExLjY3MTkgLTUuMzQzNywtNS43NjU3IC0xNC40ODQ0LC0xOC4yODEzIC0wLjk4NDMsLTMuNTE1NiAtMy41MTU2LC0xMC4yNjU2IC02LjE4NzUsLTEzLjc4MTMgLTYuMTg3NSwtMzAuNzk2OSAwLC0zLjIzNDQgMi4zOTA2LC05LjQyMTkgMS44MjgyLC00LjY0MDYgMy42NTYzLC05LjI4MTIgMi4zOTA2LDUuNjI1IDkuNDIxOSwxNS42MDkzIDMuMzc1LDMuMDkzOCAxMC4yNjU2LDYuNDY4OCA1LjQ4NDQsMi44MTI1IDExLjEwOTQsNS40ODQ0IC03LjE3MTksMCAtMjUuNzM0NCwyLjI1IDAsMC4xNDA2IC0wLjk4NDQsMC44NDM3IDcuMTcxOSwxLjY4NzUgMjEuMDkzOCw1LjkwNjMgNS42MjUsMy41MTU2IDE2LjczNDMsMTAuNDA2MiB6IG0gMzUuMjk2OSw0NC43MTg4IHEgLTAuNzAzMSwwLjcwMzEgLTIuNjcxOSwwLjcwMzEgLTEuNjg3NSwwIC05LjQyMTksLTQuNSAtOC40Mzc0LC00LjkyMTkgLTEwLjEyNSwtNS40ODQ0IC03LjAzMTIsLTAuODQzNyAtMTkuOTY4NywtNS42MjUgMC40MjE5LC0xLjU0NjkgMC45MTQxLC0zLjA5MzcgMC40OTIyLC0xLjU0NjkgMi4zMjAzLC0xLjU0NjkgMi4xMDkzLDAgMTguOTg0Myw0LjUgNi40Njg4LDEuNjg3NSAxOS45Njg4LDEyLjY1NjMgbCAwLDIuMzkwNiB6IG0gLTMuMjM0NCwyMi42NDA2IHEgMCwxNC45MDYyIC0xNC45MDYyLDE0LjkwNjIgLTE1LjQ2ODgsMCAtMTUuNDY4OCwtMTYuNTkzNyAwLC0yMC4yNSAxNS40Njg4LC0yMC4yNSAxNC45MDYyLDAgMTQuOTA2MiwyMS45Mzc1IHogbSA4MC43MTg4LDAgcSAwLC0yLjgxMjUgLTAuNzAzMiwtNC4yMTg4IGwgLTUuNjI1LDAgcSAtMS42ODc0LDcuNzM0NCAtNi40Njg3LDguMTU2MyAwLjk4NDQsMi4xMDk0IDEuOTY4Nyw0LjIxODcgMS40MDYzLDIuNTMxMyAzLjM3NSwyLjUzMTMgMi45NTMyLDAgNi4wNDY5LC00LjM1OTQgMS40MDYzLC0xLjk2ODcgMS40MDYzLC02LjMyODEgeiBtIC0xNS42MDk0LC0zLjc5NjkgMCwtNS4yMDMxIHEgLTAuNTYyNSwtMC4yODEyIC0xLjY4NzUsLTEuMTI1IGwgLTMuNTE1NiwwIHEgMCwwLjU2MjUgLTAuNTYyNSwxLjYxNzIgLTAuNTYyNSwxLjA1NDcgLTAuNTYyNSwxLjYxNzIgbCAwLDQuMDc4MSBxIDAuMTQwNiwwIDAuOTE0LDAuMzUxNiAwLjc3MzUsMC4zNTE1IDEuNDc2NiwwLjM1MTUgMi4xMDk0LDAgMy45Mzc1LC0xLjY4NzUgeiBtIC02OC43NjU2LDMuNTE1NyBxIDAsLTIuNjcxOSAtMS4yNjU2LC0zLjkzNzYgbCAtNS42MjUsMCBxIC0wLjU2MjYsNy4xNzE5IC01LjkwNjMsOC4wMTU3IDEuOTY4Nyw2Ljg5MDYgNC43ODEzLDYuODkwNiAzLjM3NSwwIDUuOTA2MiwtMy45Mzc1IDIuMTA5NCwtMy4zNzUgMi4xMDk0LC03LjAzMTIgeiBtIC0xNS42MDk0LC01LjkwNjMgMCwtMS40MDYzIHEgMCwtMS41NDY4IC0xLjY4NzUsLTIuNTMxMiBsIC00LjA3ODEsMCBxIC0wLjQyMTksMS45Njg4IC0wLjQyMTksMy42NTYyIGwgMCwwLjk4NDQgcSAwLDEuNjg3NSAwLjQyMTksMy4yMzQ0IGwgMi44MTI1LDAgcSAyLjk1MzEsMCAyLjk1MzEsLTMuOTM3NSB6IiAgICAgICAgIGlkPSJwYXRoMzA0NCIgICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAgICAgICAgIHN0eWxlPSJzdHJva2U6bm9uZSIgLz4gICAgPC9nPiAgPC9nPjwvc3ZnPg==);
	background-size: 1em 1em;
	background-repeat: no-repeat;
	justify-content: center;
	background-position: center;
}
/*
*/
.fa-home::before {
	content: "";
}
a .fa {
	display: inline-block;
	font-size: 1em;
	margin-right: 1ex;
	text-align: right;
	width: 2em;
}
/**/
.toggleitem {
	display: none;
}
.ib-label {
	color: black;
	border: 1px solid;
	border-color: red;
	border-radius: 0.3em;
	width: 90%;
	display: inline-block;
	padding: 0.3em;
	
}
.toggleblock .centerblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0 0 0 );
}
.toggleblock .centeritem {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border:3px solid;
	background: #ffff80;
	padding: 0.3em;
}
.toggleblock input[type="checkbox"] {
	position: absolute;
	left: -900em;
}
.toggleblock input[type="checkbox"]:checked ~ .toggleitem {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7 );
}
.toggleblock input[type="checkbox"]:checked + label {
	background-color: red;
}
.close a::after{
	margin-top:1em;
	content:"schließen";
}
